# hap-travel-api Lambda
AGENT_SHARED_SECRET=replace_me
HAP_STATS_TABLE=hap_stats
AGENT_WALLETS_TABLE=HAP_AGENT_WALLETS
PAYMENT_SESSIONS_TABLE=HAP_PAYMENT_SESSIONS

STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_PRICE_ID=price_xxx   # $1 = 100 credits
STRIPE_PUBLIC_KEY=pk_test_xxx

STRIPE_SUCCESS_URL=https://travel.sanatdhir.com/payment-success.html
STRIPE_CANCEL_URL=https://travel.sanatdhir.com/payment-cancel.html

# hap-stripe-webhook Lambda
STRIPE_WEBHOOK_SECRET=whsec_xxx
AGENT_WALLETS_TABLE=HAP_AGENT_WALLETS
PAYMENT_SESSIONS_TABLE=HAP_PAYMENT_SESSIONS
